/CMakeFiles/
/CTestTestfile.cmake
/Makefile
/cmake_install.cmake
/libhashkit.so*
/libmcd.so*
/hashkit.dll*
/hashkit.exp
/hashkit.ilk
/hashkit.lib
/hashkit.pdb
/mcd.dll*
/mcd.exp
/mcd.ilk
/mcd.lib
/mcd.pdb
/libmcd*dylib
/libhashkit*dylib
