*.exe
*.l[ao]
*.o
*.pop
*TAGS
*~
.deps
.dirstamp
.libs
INSTALL
Makefile
Makefile.in
TAGS
aclocal.m4
autom4te.cache
clients/memcapable
clients/memcat
clients/memcp
clients/memdump
clients/memerror
clients/memflush
clients/memrm
clients/memslap
clients/memstat
config.h
config.h.in
config.log
config.status
config/compile
config/config.guess
config/config.sub
config/depcomp
config/install-sh
config/ltmain.sh
config/missing
config/pandora_vc_revinfo
config/plugin.ac
config/top.h
configure
docs/*.[13]
docs/*.html
docs/pod2htmd.tmp
docs/pod2htmi.tmp
example/memcached_light
libhashkit/configure.h
libmemcached-*.tar.gz
libmemcached-?.??/
libmemcached/configure.h
libmemcached/dtrace_probes.h
libmemcached/memcached_configure.h
libtool
libtool.m4
ltoptions.m4
ltsugar.m4
ltversion.m4
lt~obsolete.m4
stamp-h1
support/libmemcached-fc.spec
support/libmemcached.pc
support/libmemcached.spec
tests/atomsmasher
tests/hashplus
tests/memplus
tests/output.cmp
tests/startservers
tests/testapp
tests/testhashkit
tests/testplus
tests/testudp
unittests/unittests
